html{
    caret-color: transparent;
    text-rendering: geometricPrecision;
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0 0 0 0;
}

#backgroundVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    z-index: -1;
    opacity: 0.5;
}

#title {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

#menu {
    margin-bottom: 50px;
    text-align: center;
}

#content1 {
    margin: auto;
    text-align: center;
    border: 1px solid black;
    border-radius: 50%;
    width: 300px;
    height: 275px;
    background-color: #f79413;
}

#content2 {
    margin: auto;
    margin-top: 50px;
    text-align: center;
}

#fearAndGreed {
    margin: auto;
    width: 350px;
    border: 1px solid black;
    border-radius: 5%;
}

#fearAndGreedText {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 75px;
    width: 80%;
    @media screen and (max-width: 600px) {
        width: 400px;
}}

.tradingview-widget-container {
    margin: auto;
    margin-bottom: 100px;
    width: 90%;
    height: 500px;
    border: 16px solid black;
    border-radius: 50px;
    border-color: #131722;
}

#tradingview_3c508 {
    width: 100%;
    height: 500px;
}

footer {
    position: fixed;
    bottom: 0px;
    height: 25px;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
